html, body {
 background-color: rgb(53,49,49);
   color: black;
  margin: 0;
  overflow-x:hidden;
   font-family: "Permanent Marker", cursive;
}
.slider{
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  height: 100vh;
  width: 100vw;
}
.slide{
  min-width: 100vw;
  display: inline-block;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  scroll-snap-align: center;
}

.principal{
  background-image: url("fundo.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  top: 0;
  left: 0;
  align-items: flex-start;
  display: flex;
  width: 100%;
  min-height: 100vh;
  position: relative;
  flex-direction: column;
}
.titulo{
  margin-bottom: 1em;
  width: 100%;
  max-width: 600px;
  margin-left: 30px;
  text-align: center;
  font-size: 30px;
}

.imagem{
  height: 500px;
  margin-left: 60px;
}


*{
   margin: 0;
  padding: 0;
}

.botao{
  background-color: rgb(77,13,77);
  border-radius: 5px;
  padding: 1em;
  color: black;
  text-decoration: none;
  font-size: 20px;
  text-align: center;
  display: block;
  margin-bottom: 1em;
  margin-top: 1em;
  width: 80vh;
  margin-left: 50px;
  font-family: "Crimson Text", serif;
}

.botao2{
  background-color: rgb(77, 13, 77);
  border-radius: 5px;
  padding: 1em;
  color: black;
  text-decoration: none;
  font-size: 20px;
  text-align: center;
  display: block;
  margin-bottom: 1em;
  margin-top: 1em;
  width: 80vh;
  margin-left: 50px;
  font-family: "Crimson Text", serif;
}

.aviso{
  font-size: 10px;
  color: grey;
  margin-left: 250px;
}

.botao:hover{
  background-color: rgb(96,13,13);
  color: black;
}

.botao2:hover{
  background-color: rgb(96, 13, 13);
  color: black;
}

/* PAGINA 2 */
.menu{
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.menuitem{
  display: flex;
  align-items: center;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px grey;
  overflow: hidden;
}

.menutitulo{
  text-align: center;
  font-size: 40px;
  margin-bottom: 20px;
  color: black;
  text-decoration: double;
}

.menuimagem{
  width: 260px;
  height: 150px;
  object-fit: cover;
}

.menuinfo{
  padding: 20px;
}

.itemmenu{
  font-size: 25px;
  color: black;
}

.descricao2{
  font-size: 13px;
  color: black;
  font-family: "Crimson Text", serif;
}

.preco{
  color: rgb(33,172,33);
  font-size: 25px;
  font-weight: bd;
  text-decoration: none;
}

/*PÁGINA 3*/

.titulo2{
  font-size: 45px;
  color: black;
  margin-bottom: 1em;
  text-align: center;
  font-family: "Permanent Marker", cursive;
}

.imagem2{
  width: 60%;
}

.secundario{
  align-items: center;
  margin: 0 10em;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px margin-top: 60px;
}

.titulo3{
  font-weight: 700;
  font-size: 45px;
  color: black;
  margin-bottom: 1em;
  text-align: center;
}

.dispositivos{
  text-align: center;
  margin-top: 60px;
}

.dispositivo img{
  height: 100px;
  padding: 0 50px;
}

.item{
  font-size: 35px;
  color: black;
  padding: 0 50px;
}

.rodape{
  text-align: center;
  margin: 5em 3em;
}

.lista, .rodapelista{
  display: flex;
  justify-content: center;
  list-style-type: none;
  margin-top: 1em;
}

.listalink a{
  text-decoration: none;
  color: black;
  font-size: 12px;
  margin-left: 1em;
}

.listalink a:hover{
  color: red;
}

.listalink a:active{
  color: purple;
}

.rodapetexto{
  margin: 1em 0;
  color: black;
  font-size: 20px;
}

.logo2{
  height: 100px;
}